/* ==========================================================================
   Keyframes settings
   ========================================================================== */

@include keyframes(qode-rotate) {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@include keyframes(qode-fade-in) {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@include keyframes(qode-fade-out) {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@include keyframes(qode-ball-fall) {
	0% {
		opacity: 0;
		transform: translateY(-145%);
	}
	10% {
		opacity: .5;
	}
	20% {
		opacity: 1;
		transform: translateY(0);
	}
	80% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: .5
	}
	100% {
		opacity: 0;
		transform: translateY(145%);
	}
}

@include keyframes(qode-scaleout) {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@include keyframes(qode-double-pulse) {
	0%, 100% {
		transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
	}
}

@include keyframes(qode-cube) {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@include keyframes(qode-rotating-cubes) {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@include keyframes(qode-stretch-delay) {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
	}
}

@include keyframes(qode-bounce-delay) {
	0%, 80%, 100% {
		transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
	}
}

@include keyframes(qode-rotate-circles) {
	to {
		transform: rotate(360deg);
	}
}

@include keyframes(qode-atom-position) {
	50% {
		top: 80px;
		left: 80px;
	}
}

@include keyframes(qode-atom-size) {
	50% {
		transform: scale(0.5);
	}
}

@include keyframes(qode-atom-zindex) {
	100% {
		z-index: 10;
	}
}

@include keyframes(qode-atom-shrink) {
	50% {
		transform: scale(0.8);
	}
}

@include keyframes(qode-clock) {
	100% {
		transform: rotate(360deg);
	}
}

@include keyframes(qode-clock-1) {
	0% {
		transform: rotate(-135deg);
	}
	30% {
		transform: rotate(-450deg);
	}
	100% {
		transform: rotate(-450deg);
	}
}

@include keyframes(qode-clock-2) {
	5% {
		transform: rotate(-90deg);
	}
	35% {
		transform: rotate(-405deg);
	}
	100% {
		transform: rotate(-405deg);
	}
}

@include keyframes(qode-clock-3) {
	10% {
		transform: rotate(-45deg);
	}
	40% {
		transform: rotate(-360deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@include keyframes(qode-clock-4) {
	15% {
		transform: rotate(0deg);
	}
	45% {
		transform: rotate(-315deg);
	}
	100% {
		transform: rotate(-315deg);
	}
}

@include keyframes(qode-mitosis-invert) {
	100% {
		transform: rotate(180deg);
	}
}

@include keyframes(qode-mitosis-ball-1) {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(50%, 25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(50%, 50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(50%, 50%) scale(0.6, 0.6);
	}
}

@include keyframes(qode-mitosis-ball-2) {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(50%, -25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(50%, -50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(50%, -50%) scale(0.6, 0.6);
	}
}

@include keyframes(qode-mitosis-ball-3) {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(-50%, 25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
}

@include keyframes(qode-mitosis-ball-4) {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(-50%, -25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
}

@include keyframes(qode-lines-spin) {
	100% {
		transform: rotate(360deg);
	}
}

@include keyframes(qode-fussion-ball-1) {
	50% {
		top: -100%;
		left: 200%;
	}
	100% {
		top: 50%;
		left: 100%;
		z-index: 2;
	}
}

@include keyframes(qode-fussion-ball-2) {
	50% {
		top: 200%;
		left: 200%;
	}
	100% {
		top: 100%;
		left: 50%;
		z-index: 1;
	}
}

@include keyframes(qode-fussion-ball-3) {
	50% {
		top: 200%;
		left: -100%;
	}
	100% {
		top: 50%;
		left: 0;
		z-index: 2;
	}
}

@include keyframes(qode-fussion-ball-4) {
	50% {
		top: -100%;
		left: -100%;
	}
	100% {
		top: 0;
		left: 50%;
		z-index: 1;
	}
}

@include keyframes(qode-wave-jump-1) {
	12% {
		transform: translate(20px, -40px);
		animation-timing-function: ease-in;
	}
	24%, 100% {
		transform: translate(40px, 0);
	}
}

@include keyframes(qode-wave-jump-2) {
	12% {
		transform: translate(0, 0);
	}
	24% {
		transform: translate(20px, -40px);
		animation-timing-function: ease-in;
	}
	36%, 100% {
		transform: translate(40px, 0);
	}
}

@include keyframes(qode-wave-jump-3) {
	24% {
		transform: translate(0, 0);
	}
	36% {
		transform: translate(20px, -40px);
		animation-timing-function: ease-in;
	}
	48%, 100% {
		transform: translate(40px, 0);
	}
}

@include keyframes(qode-wave-wipe) {
	48%, 100% {
		transform: translateX(-120px);
	}
}

@include keyframes(qode-pulse-circles-pulse) {
	0% {
		transform: scale(.1);
		opacity: 1;
		border-width: 50px;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
		border-width: 0;
	}
}

@include keyframes(qode-bounce) {
	from,
	20%,
	53%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0);
	}
}

@include keyframes(qode-pulse) {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@include keyframes(qode-float) {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-15px);
	}
}

@include keyframes(qode-shadow-float) {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}
}

@include keyframes(qode-line-draw) {
	0%,
	100% {
		clip-path: inset(-1px 0 -1px 0);
	}

	50% {
		clip-path: inset(-1px 0px -1px 100%);
	}

	51% {
		clip-path: inset(-1px 100% -1px 0%);
	}
}

@include keyframes(qode-scale-spinner) {
	to {
		transform: scale(1);
	}
}
