/* ==========================================================================
   Global CSS variables
   ========================================================================== */

:root {
	--qode-header-dark-color: #000000;
	--qode-header-dark-hover-color: #8b8b8b;
	--qode-header-light-color: #ffffff;
	--qode-header-light-hover-color: #8b8b8b;
	--qode-main-color: #ffffff;
}
