/* ==========================================================================
   3.0 Alignments styles
   ========================================================================== */

.alignleft {
	float: left;
	text-align: left;
	margin: .5em 1em .5em 0 !important;
	clear: left;
}

.aligncenter {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignright {
	float: right;
	text-align: right;
	margin: .5em 0 .5em 1em !important;
	clear: right;
}

.qodef-content-alignment-left {
	text-align: left;
}

.qodef-content-alignment-center {
	text-align: center;
}

.qodef-content-alignment-right {
	text-align: right;
}
