/* ==========================================================================
   WooCommerce my account styles
   ========================================================================== */

.woocommerce-account {

	.woocommerce-MyAccount-navigation {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 30%;
		float: left;
		padding-right: 50px;

		ul {
			@include qodefWooTemplatesListStyles();

			li {

				a {
					@include qodefWooLabelsHeadingStyle(false);
					transition: $color-transition, transform .4s $special-ease-move;
					display: inline-block;

					&:before {
						content: '';
						display: block;
						position: absolute;
						left: -15px;
						top: calc(50% - 4px);
						height: 6px;
						width: 6px;
						background-color: currentColor;
						transform: scale(0);
						transition: transform .4s $special-ease-move;
					}
				}

				&.is-active,
				&:hover {

					a {
						color: var(--qode-main-color);
						transform: translateX(15px);

						&:before {
							transform: scale(1);
							transition-delay: .2s;
						}
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 70%;
		float: left;

		.woocommerce-order-details {
			margin: 30px 0 0;
		}

		.woocommerce-customer-details {
			margin: 48px 0 0;
		}

		h2 {
			@include qodefWooTemplatesHeadingStyle(0 0 20px);
		}

		.order-again {
			margin: 30px 0 0;
		}
	}

	.button {
		@include qodefWooButtonsStyle($type: outline);
	}

	.woocommerce-form-login {

		.woocommerce-form__label-for-checkbox {
			display: flex;
			align-items: baseline;
			margin-bottom: 10px;
		}

		.woocommerce-LostPassword {
			margin-top: 10px;
		}
	}

	.woocommerce-form-register {

		.woocommerce-privacy-policy-text {
			margin-bottom: 31px;
		}
	}

	.woocommerce-EditAccountForm {

		fieldset {
			padding: 0;
			margin: 0;

			legend {
				display: none;
			}
		}

		.woocommerce-form-row {
			margin: 0 0 #{map-get($input-fields-map, 'input-fields-margin-bottom')}px;

			input[type="text"] {
				margin: 0;
			}
		}
	}
}
