/* ==========================================================================
   WooCommerce quantity input styles
   ========================================================================== */

#qodef-woo-page,
#yith-quick-view-modal {

	.qodef-quantity-buttons {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		.qodef-quantity-input,
		.qodef-quantity-minus,
		.qodef-quantity-plus {
			display: inline-block;
			vertical-align: middle;
			font-size: 16px;
			font-family: inherit;
			text-align: center;
			user-select: none;
			color: $white;
			background-color: transparent;
			border: 1px solid $border-color;
		}

		.qodef-quantity-input {
			position: relative;
			height: 50px;
			width: 50px;
			padding: 0;
			margin: 0 25px 0 0;
			font-family: inherit;
			line-height: 48px;
			outline: 0;

			&[type=number]::-webkit-inner-spin-button,
			&[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		.qodef-quantity-minus,
		.qodef-quantity-plus {
			position: absolute;
			right: 0;
			width: 25px;
			height: 25px;
			line-height: 23px;
			border-left: 0;
			cursor: pointer;
			transition: $color-transition;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: calc(50% - 4.5px);
				width: 9px;
				height: 1px;
				background-color: currentColor;
			}

			&:hover {
				color: var(--qode-main-color);
			}
		}

		.qodef-quantity-plus {
			top: 0;
			border-bottom: 0;

			&:after {
				transform: rotate(90deg);
			}
		}

		.qodef-quantity-minus {
			bottom: 0;

			&:before,
			&:after {
				left: calc(50% - 4px);
				width: 8px;
			}
		}
	}
}
