/* ==========================================================================
   WooCommerce global styles
   ========================================================================== */
@import 'woo-mixins';

#qodef-woo-page,
.qodef-woo-shortcode,
#yith-quick-view-modal {

	.qodef-woo-product-mark {
		background-color: var(--qode-main-color);
		color: $black;
		font-size: 15px;
		left: 0;
		line-height: 1;
		padding: 8px 27px 6px;
		position: absolute;
		top: 0;
		z-index: 5;
	}

	.qodef-woo-product-title {
		margin: 0;
	}

	.qodef-woo-ratings {
		@include qodefRatingsStyle();
	}

	.price {
		@include qodefWooPriceStyle();
	}

	.button,
	.added_to_cart {
		@include qodefWooButtonsStyle($type: outline);

		&.added {
			display: none;
		}
	}
}

#qodef-woo-page {

	.quantity {
		white-space: nowrap;

		input[type="number"] {
			margin: 0;
			padding: 12px 10px;
			text-align: center;
			width: 60px;
			@include qodefWooLabelsHeadingStyle();
		}
	}
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
	@include qodefWooNoticeStyle();
}

// This is temporary solution, we already asked support to add additional hooks inside this template in order to modify it and to move this css inside #qodef-woo-page
.woocommerce-page {

	div.woocommerce {

		.shop_table {
			@include qodefWooTableStyle();
		}

		.col2-set {
			align-items: flex-start;
			display: flex;
			margin: 0 -#{$default-grid-gutter-size}px;
			position: relative;

			> * {
				margin-bottom: #{2 * $default-grid-gutter-size}px;
				padding: 0 #{$default-grid-gutter-size}px;
				width: 100%;
			}
		}

		address {
			font-style: normal;

			p {
				margin: 0;
			}
		}

		form {

			p {
				margin: 0;
			}
		}
	}

	.pswp__counter,
	.pswp__caption__center {
		color: $white;
	}
}
